html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,table,caption,th,td,form,input,button,textarea,menu,img,span,label{margin:0;padding:0;cursor:pointer;    -webkit-tap-highlight-color:rgba(255,0,0,0);/*禁止背景色*/  -webkit-appearance: none;}
*{margin:0;padding:0;}
html,body{background:rgb(245,245,245);position: relative;max-width: 750px;margin:0 auto;}
header,footer,section,nav,address{display:block;}
i,em,address{font-style:normal;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
img{vertical-align: middle;}
a{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor:pointer;
    text-decoration: none;
}
input{
    outline: none;!important;
    border:none;!important;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    vertical-align: middle;
}
input:focus{
    border:none;!important;
    outline: none;!important;
}
.relative{
    position: relative;
}
.icon{
    font-size: 18px;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
}
.paddingLr12{
    padding:0 0.32rem;
}
.fixed{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 20;
}
#wrap{
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
}
.fontCenter{
    text-align: center;
}
.bgWhite{
    background: #fff;
}
.bgGray{
    background:rgb(245,245,245);
}
.bgYellow{
    background: #f1973c;
}
.font10{
    font-size: 0.266666667rem;
}
.head{
    width: 100%;
    height:1.12rem;
    line-height: 1.12rem;
}
.close{
    display: inline-block;
    font-size: 0.8rem;/*30px*/
    width: 1.12rem;
    height: 1.12rem;
    margin-left: 0.32rem;
}
.textCnter{
    text-align: center;
}
.logo{
    /*margin-top:0.4rem;*/
}
.logo img{
    width: 0.746666667rem;
    height: 0.746666667rem;
    margin-top: -0.08rem;
    margin-right: 0.106666667rem;
}
.loginLogo{
    padding-top: 0.48rem;
}
.loginLogo img{
    width: 70px;
    height: 70px;
}
.font16{
    font-size: 0.426666667rem;
}
.textHint{
    text-align: center;
    margin-top: 0.48rem;
    margin-bottom:0.906666667rem;
}
.phoneNum{
    display: block;
    height:1.333333333rem;
    line-height:1.333333333rem;
    font-size: 0.426666667rem;/*16px*/
    width: 9.253333333rem;
    margin:0 auto;
}
.nextOptWrap{
    margin-top:0.48rem;
}
.nextOpt{
    display: block;
    background: rgb(181,181,181);
    width: 9.253333333rem;
    margin: 0 auto;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    color: #fff;
    font-size: 0.426666667rem;/*16px*/
}
.safeIcon{
    /*margin-top: 5.6rem;*/
    text-align: center;
}
.safeFont{
    display: inline-block;
    /*width: 30px;*/
    /*height: 20px;*/
    /*border:1px solid gray;*/
}
.safeFont img{
    width: 44.5px;
    height: 51.2px;
}
.footer{
    text-align: center;
    padding:0.666666667rem 0 1.2rem 0;
    font-size: 0.373333333rem;
    color: #949494;
}
.footerWrap{
    margin-top: 5.6rem;
}
.footWrap{
    margin-top: 6.2rem;!important;
}
/*--------------------------------------------------------------------------*/
.header{
    height: 1.2rem;
    line-height: 1.2rem;
}
.headLeft{
    -webkit-box-flex: 60;
    -webkit-flex: 60;
    -ms-flex: 60;
    flex:60;
    text-align: center;
    font-size: 0.426666667rem;
}
.headCenter{
    -webkit-box-flex: 255;
    -webkit-flex: 255;
    -ms-flex:255;
    flex:255;
    text-align: center;
    font-size: 0.533333333rem;/*20px*/
}
.headRight{
    -webkit-box-flex: 60;
    -webkit-flex: 60;
    -ms-flex: 60;
    flex:60;
}
.sexCode{
    font-size: 0.426666667rem;/*16px*/;
    text-align: center;
    padding: 0.32rem 0;
    color: gray;
}
.phoneNumber{
    font-size: 0.426666667rem;
    text-align: center;
    padding-bottom:0.4rem;
}
.verifyCodeWrap{
    width: 9.253333333rem;
    margin: 0 auto;
}
.verifyCode{
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    -webkit-box-flex:247;
    -webkit-flex:247;
    -ms-flex: 247;
    flex: 247;
    font-size: 0.426666667rem;
}
.getVerifyCode{
    -webkit-box-flex:100;
    -webkit-flex:100;
    -ms-flex: 100;
    flex: 100;
    text-align: center;
    font-size: 0.426666667rem;
    height: 1.066666667rem;
    line-height: 1.066666667rem;
    margin-top:0.133333333rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-left: 1px solid gray;
}
.loginBtn{
    display: block;
    background: rgb(242,182,67);
    width: 9.253333333rem;
    margin: 0 auto;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.loginBtnWrap{
    margin-top: 0.48rem;
}
.voiceVerifyWrap{
    padding:0.32rem 0;
    width: 9.253333333rem;
    margin:0 auto;
    font-size: 0.32rem;
    color: #999;
    display: none;
}
.voiceVerifyBtn{
    color: rgb(242,182,67);
}
/*---------------------------------------------------*/
.protocolWrap{
    padding: 0.32rem 0;
    width: 9.253333333rem;
    margin: 0 auto;
    font-size: 0.32rem;
    color: #999;
}
.registerBtnWrap{
    margin-top:0.8rem;
}
/*.messageIcon img{*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*margin-top: -3px;*/
/*}*/
.messageIcon{
    font-size:0.426666667rem;
    line-height: 1.2rem;
}
.messageIcon .icon-fanhui{
    font-size:0.64rem;
}
.messageIcon .icon-message-copy{
    font-size: 0.746666667rem;
    color: #ff5855;
}
.fanHuiFont{
    /*position: absolute;*/
    /*top:0;*/
    /*left: 1.013333333rem;*/
    /*top:-0.053333333rem;*/
}
.agree{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
    /*border:1px solid lightgray;*/
    vertical-align:middle;
    margin-top: -0.053333333rem;
    margin-right: 0.186666667rem;
    background: url(../images/register.png) no-repeat center;
    background-size: 100% 100%;
}
.registerBtn{
    display: block;
    background: rgb(242,182,67);
    width: 9.253333333rem;
    margin: 0 auto;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    color: #fff;
    font-size: 0.426666667rem;
    border-radius: 1px;
}
.caiBaoProtocol{
    color: rgb(242,182,67);
}
/*---------------------------------------------------*/
.payPwdPrompt{
    font-size: 0.48rem;
    color: #999999;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
}
.setPwdContentWrap{
    padding:0 0.533333333rem;
}
.pwdWrap{
    margin-top: 0.533333333rem;
}
.completeBtn{
    display: block;
    background: rgb(242,182,67);
    width: 100%;
    margin: 0 auto;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    color: #fff;
    font-size: 0.426666667rem;
}
.inputPwd{
    width: 100%;
    height: 1.333333333rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border:1px solid gainsboro;
    margin-bottom: 0.266666667rem;
}
.confirmPwd{
    width: 100%;
    height: 1.333333333rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border:1px solid gainsboro;
}
.setPayHeadLeft{
    -webkit-box-flex:90;
    -webkit-flex:90;
    -ms-flex: 90;
    flex: 90;
}
.setPayHeadCenter{
    -webkit-box-flex:195;
    -webkit-flex:195;
    -ms-flex: 195;
    flex: 195;
}
.setPayHeadRight{
    -webkit-box-flex:90;
    -webkit-flex:90;
    -ms-flex: 90;
    flex: 90;
}
.indexFootWrap{
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    margin:0 auto;
}
.indexFoot{
    /*width:100%;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom:0;*/
    /*margin:0 auto;*/
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
    /*height: 1.76rem;*/
    z-index: 200;
}
.indexFoots{
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    margin:0 auto;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
    height: 1.76rem;
    z-index: 200;
}
.footCover{
    height: 1.333333333rem;
}
.footBtn{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    height: 1.76rem;!important;
    /*line-height:1.386666667rem;*/
    color: #beb8b8;
    font-size: 0.266666667rem;
}
.footBtn .iconfont{
    font-size: 0.6rem;
}
.footBtnOrange{
    color: orange;!important;
}
.fontBtnIcon{
    display: inline-block;
    margin-top: 0.266666667rem;
    width: 0.8rem;
    height: 0.8rem;;
}
.homeIcon{
    /*background: url(../images/homeIconLight.png) no-repeat center;*/
    /*background-size: 100% 100%;*/
}
.readIcon{
    /*background: url(../images/readIconGray.png) no-repeat center;*/
    /*background-size: 100% 100%;*/
}
.findIcon{
    /*background: url(../images/findIconGray.png) no-repeat center;*/
    /*background-size: 100% 100%;*/
}
.assetsIcon{
    /*background: url(../images/assetsIconGray.png) no-repeat center;*/
    /*background-size: 100% 100%;*/
 }
.page{
    width: 100%;
    overflow: hidden;
}
/*--------------------------------------------------------*/
.headTop{
    padding:0 0.266666667rem;
    height: 1.2rem;
    line-height: 1.2rem;
}
.headTopLeft{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    text-align: left;
    font-size: 0.266666667rem;
    color: #000;
}
.headTopCenter{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
    font-size: 0.48rem;
}
.headTopRight{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    text-align: right;
    font-size: 0.48rem;
    color: rgb(242,182,67);
}
.slogan{
    width: 7.746666667rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.426666667rem;
    margin:0 auto;
    text-align: center;
    background: #f6a34e;
    border-radius: 50px;
    color: #fff;
}
.dataModuleTop{
    padding:0.64rem 0.48rem 0 0.48rem;
    height: auto;
    margin:0

}
.dataModuleBottom{
    padding: 0.586666667rem 0;
}
.dataLeft{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
}
.dataRight{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
}
.dataLeftTop{
    height: 0.373333333rem;
    line-height:0.373333333rem;
    text-align: center;
    font-size: 0.373333333rem;
    color: #ffffff;
}
.dataRightTop{
    height: 0.373333333rem;
    line-height: 0.373333333rem;
    text-align: center;
    font-size: 0.373333333rem;
    color: #ffffff;
}
.dataLeftBottom{
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    height: 1.386666667rem;
    line-height: 2.086666667rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #f3a251;
}
.dataRightBottom{
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    height: 1.386666667rem;
    line-height: 2.086666667rem;
}
.productCard{
    margin-top: 0.4rem;
}
.productCard:last-child{
    margin-bottom: 0.4rem;
}
.productCardCenter{
    padding-bottom: 0.16rem;
}

.cardTop{
    border-bottom:1px solid rgb(245,245,245);
}
.cardTopCenter{
    padding: 0 0.48rem;
    height: 1.173333333rem;
    line-height: 1.173333333rem;
}
.cardBottom{
    padding: 0 0.48rem;
}
.productName{
    font-size: 0.426666667rem;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}
.productDes{
    font-size: 0.426666667rem;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.cardBottomTop{
    height: 1rem;
    line-height: 1rem;
    font-size: 0.373333333rem;
}
.subFont{
    font-size:0.266666667rem;
    padding-left: 0.106666667rem;
    color: #ffc1c0;
}
.productDataleft{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
}
.productData{
    height: 1.44rem;
}
.productDataCenter{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
}
.productDataRight{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.percentNum{
    font-size: 0.48rem;
    color: #ff8f8c;
    position: relative;
}
.typeName{
    font-size:0.373333333rem;
    text-align: center;
}
.buyBtn{
    display: inline-block;
    width: 2.133333333rem;
    height: 0.8rem;
    background: #ff5855;
    border-radius: 40px;
    line-height: 0.8rem;
    color: #ffffff;
    font-size: 0.373333333rem;
    text-align: center;
}
.fontSup{
    display: inline-block;
    background: #ff5855;
    font-size: 0.266666667rem;
    border-radius: 2px;
    color: #fff;
    padding:1px;
    position: absolute;
    top:0;
    margin-left:3px;
}
/*-----------------------------------------------------*/
.news{
    padding:0 0.48rem;
    height: auto;
    margin-bottom: 0.48rem;
}
.newsCard{
    margin-top:0.693333333rem;
}
.newsDateWrap{
    text-align: center;
    margin-bottom: 0.32rem;
}
.newsDate{
    display: inline-block;
    margin:0 auto;
    font-size: 0.32rem;
    text-align: center;
    padding:0.106666667rem;
    background: #666;
    border-radius: 4px;
    color: #fff;
}
.newsContentWrap{
    padding:0.32rem;
}
.focusNews{
    position: relative;
    width: 100%;
    height: 4.666666667rem;
}
.focusNews img{
    width: 100%;
    height: 100%;
}
.focusNewsTitle{
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.focusNewsTitleFont{
    padding:0.32rem;
    font-size: 0.48rem;
    color:#fff;
}
.minorNews{
    width: 100%;
    height:1.866666667rem;
    /*line-height: 1.866666667rem;*/
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-top:1px solid #ccc;
}
.newsTitle{
    height: auto;
    font-size: 0.426666667rem;
    display: inline-block;
    -webkit-box-flex:6;
    -webkit-flex:6;
    -ms-flex: 6;
    flex: 6;
    padding-right: 0.32rem;
    line-height: 1.866666667rem;
}
.minorNewsImg{
    display: inline-block;
    /*width: 1.333333333rem;*/
    height: 1.2rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border:1px solid #999999;
    vertical-align: middle;
    margin-top: 0.266666667rem;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;

}
.minorNewsImg img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.discoveryWrap{
    padding: 0 0.48rem;
    margin-top:0.533333333rem;
}
.more{
    height: inherit;
    padding:0 0.266666667rem;
    font-size:0.533333333rem;
}
.findCard{
    width: 100%;
    height: 1.866666667rem;
}
.memberCore{
    margin:0.533333333rem 0;

}
.findCardCenter{
    padding:0 0.48rem;
    height: 1.866666667rem;
    line-height: 1.866666667rem;
}
.findCardCenter .iconLeft .iconfont{
    color: #ff5855;
}
.iconLeft{
    position: absolute;
    left:0.24rem;
    top:0;
    bottom: 0;
    height: 1.866666667rem;
    line-height:1.866666667rem ;
}
.iconRight{
    position: absolute;
    right:0.24rem;
    top:0;
    bottom: 0;
    line-height:1.866666667rem ;
}
.iconRight img{
    width: 0.933333333rem;
    height: 0.933333333rem;
}
.iconLeft img{
    width: 0.666666667rem;
    height: 0.666666667rem;
}
.findCardTitle{
    padding-left:0.773333333rem;
    font-size:0.4rem;
    display: inline-block;
}
.cardCoupons{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-bottom:1px solid #ccc;
}
.gameInfo{
    display: inline-block;
    text-align: right;
    font-size: 0.32rem;
    color:#999;
    position: absolute;
    right: 1.3733333333rem;
}
.gameImg img{
    width: 0.8rem;
    height: 0.8rem;
}
/*-----------------------------------*/
.incomeAllBtn{
    width: 100%;
    font-size: 0.426666667rem;
}
.dateNumWrap{
    padding:0.933333333rem 0 0.8rem 0;
}
.dateFontWrap{
    padding-bottom: 0.8rem;
}
.userDate{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #fff;
}
.dateNumLeft{
    font-size: 0.8rem;
}
.dateNumRight{
    font-size: 0.8rem;
}
.dateFontLeft{
    font-size: 0.373333333rem;
}
.dateFontRight{
    font-size: 0.373333333rem;
}
.dealWrap{
    width: 100%;
    height: 1.466666667rem;
    line-height: 1.466666667rem;
}
.rechargeBtn{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.586666667rem;
    text-align: center;
    height: 0.586666667rem;
    line-height: 0.586666667rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #cccccc;
    margin-top:0.44rem;
}
.withdrawBtn{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.586666667rem;
    text-align: center;
    height: 0.586666667rem;
    line-height: 0.586666667rem;
    margin-top:0.44rem;
}
.activityWrap{
    margin:0.266666667rem 0;
    padding:0.48rem 0 0.32rem 0;
}
.actCard{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.actIcon{
    display: inline-block;
    text-align: center;
    width: 0.64rem;
    height: 0.64rem;
}
.actIcon .iconfont{
    color: #cccccc;
    font-size: 0.64rem;
}
/*.actIcon img{*/
    /*width: 0.64rem;*/
    /*height: 0.64rem;*/
/*}*/
.actTitle{
    display: inline-block;
    text-align: center;
    font-size: 0.426666667rem;
    margin-top: 0.213333333rem;
}
.capitalCard{
    margin:0.266666667rem 0;
}
.capitalCardCenter{
    margin:0 0.266666667rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
}
.quitWrap{
    margin-top: 0.64rem;
}
.quitLoginBtn{
    font-size: 0.533333333rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    display: block;
    text-align: center;
    width: 100%;
}
.borderBottom{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-bottom: 1px solid #cccccc;
}
.borderTop{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-top: 1px solid #cccccc;
}
.capitalCardIcon{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}
.capitalCardIcon .iconfont{
    color: #ff5855;
    font-size: 0.426666667rem;
}
.capitalCardIcon img{
    width: 0.4rem;
    height: 0.533333333rem;
}
.capitalCardTitle{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex: 5;
    flex: 5;
    text-align: left;
    font-size: 0.426666667rem;
    color: #666666;
}
.capitalCardNum{
    -webkit-box-flex:4;
    -webkit-flex:4;
    -ms-flex: 4;
    flex: 4;
    text-align: right;
    font-size: 0.426666667rem;
    color: #666666;
}
.capitalCardArrow{
    -webkit-box-flex:0.5;
    -webkit-flex:0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    text-align: right;
    font-size: 0.533333333rem;
}
.portraitCenter{
    height: 2.133333333rem;
    line-height: 2.133333333rem;
    padding:0 0.4rem 0 0.533333333rem;
}
.infoIcon{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0.693333333rem;
}
.infoIcon img{
    width: 0.693333333rem;
    height: 0.693333333rem;
    border-radius:100%;
}
.infoRight{
    -webkit-box-flex:9;
    -webkit-flex:9;
    -ms-flex: 9;
    flex: 9;

}
.infoTitle{
    font-size: 0.426666667rem;
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex: 5;
    flex: 5;

}
.portraitImg{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    text-align: right;
}
.portraitImg img{
    width: 1.733333333rem;
    height: 1.733333333rem;
    border-radius: 100%;
}
.nicknameCenter{
    height: 1.386666667rem;
    line-height:1.386666667rem;
    padding:0 0.4rem 0 0.533333333rem;
}
.nicknameName{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex: 5;
    flex: 5;
    text-align: right;
    font-size: 0.426666667rem;
}
.accountNumber{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex: 5;
    flex: 5;
    text-align: right;
    font-size: 0.426666667rem;
}
.rightArrow{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    font-size: 20px;
}
.sexCenter{
    height: 1.386666667rem;
    line-height:1.386666667rem;
    padding:0 0.4rem 0 0.533333333rem;
}
.sex{
    margin-top:0.426666667rem;
}
.personInput{
    text-align: right;
    height: 1.386666667rem;
    font-size:0.426666667rem;
    border:none;!important;
    background: none;
}
.productType{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    height: 1.386666667rem;
    line-height:1.386666667rem;
    text-align: center;
    font-size: 0.453333333rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #999;
    margin-right: 0;
}
.productType:last-child{
    border-right: none;
}
.touch{
    /*position: relative;*/
    padding-top:2.586666667rem;
}
.touchWrap{
    margin-top:0.373333333rem;
    /*display: none;*/
}
.bottomColor{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-bottom: 2px solid orange;
}
.height{
    height: 300px;
}
.productTitle{
    /*width: 10rem;*/
    margin-top:0.666666667rem;
    /*display: block;*/
    font-size: 0.48rem;
    text-align: center;
}
.rate{
    margin-top:0.666666667rem;
    text-align: center;
    display: block;

}
.rateNum{
    font-size: 1.28rem;
    color: orange;
}
.rateSymbol{
    font-size:0.373333333rem;
    color: orange;
}
.withdrawRecord{
    font-size: 0.426666667rem;
    color: #f1973c;
}
.withdrawWrap{
    margin-top:0.8rem;
}
.bankCardWrap{
    height: 1.44rem;
}
.bankCardCenter{
    padding:0 0.4rem;
    height: 1.44rem;
}
.bankIcon{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 0.586666667rem;
    height: inherit;
    line-height:1.44rem ;
}
.bankIcon img{
    width: 0.693333333rem;
    height: 0.693333333rem;
    /*border-radius:100%;*/
}
.bankCardRight{
    -webkit-box-flex:9;
    -webkit-flex:9;
    -ms-flex: 9;
    flex: 9;
    height: inherit;
}
.bankName{
    font-size: 0.426666667rem;
    padding:0.16rem 0;
}
.quotaDes{
    font-size: 0.373333333rem;
    color: #cccccc;
}
.withdrawBalanceCenter{
    padding:0 0.4rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    font-size: 0.373333333rem;
}
.balanceNum{
    color: gold;
}
.withdrawBtnWrap{
    height: 1.44rem;
}
.withdrawBtnWrapCenter{
    padding:0 0.4rem;
}
.withdrawBtnWrap input{
    height:1.44rem ;
    line-height: 1.44rem;
    font-size: 0.426666667rem;
}
.jineFont{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    line-height: 1.44rem;
    font-size: 0.426666667rem;
}
.inputWithDrawNum{
    -webkit-box-flex:8;
    -webkit-flex:8;
    -ms-flex: 8;
    flex: 8;
    background: #fff;
    color: #ccc;
}
.withdrawAllBtn{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    text-align: right;
    background: none;
    color: #f1973c;
}
.chongZhiWrap{
    /*margin-top: 0.266666667rem;*/
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-top:1px solid #cccccc;
}
.chongZhiWrapCenter{
    padding:0 0.4rem;
    height: 1.226666667rem;
    line-height: 1.226666667rem;
    font-size: 0.373333333rem
;
}
.jinETile{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 21;
    flex: 2;
}
.czMoney{
    -webkit-box-flex:8;
    -webkit-flex:8;
    -ms-flex: 8;
    flex: 8;
    font-size: 0.373333333rem;
}
.reset{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.48rem;
    text-align: right;
    /*padding-right: 0.5rem;*/
}
.rechargeBankWrapCenter{
    height: 1.866666667rem;
    padding: 0 0.533333333rem;
}
.bankRight{
    -webkit-box-flex:8;
    -webkit-flex:8;
    -ms-flex: 8;
    flex: 8;
}
.userCardInfo{
    font-size: 0.426666667rem;
    padding:0.266666667rem 0;
}
.bankCardNumber{
    font-size: 0.373333333rem;
}
.rechargeExplain{
    font-size: 0.373333333rem;
    color: #cccccc;
}
.rechargeBankIcon{
    line-height: 1.866666667rem;!important;
}
.confirmBtnWrap{
    padding-top:1.866666667rem;
}

.confirmBtn{
    display: block;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    width: 8rem;
    background: #cccccc;
    color: #000000;
    font-size: 0.426666667rem;
    margin:0 auto;
}
.weiHao{
    color: #666;
}
.submitWrap{
    padding-top:0.426666667rem;
    text-align: center;
}
.submit{
    background: rgb(242,182,67);
    display: block;
    width: 9.2rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    margin:0 auto;
    font-size: 0.48rem;
}
.WithdrawalsInstruction{
    padding-top: 1.333333333rem;
}
.WithdrawalsInstructionCenter{
    padding:0 0.666666667rem;
}
.instructionTitleIcon{
    display: inline-block;
    padding-right: 0.533333333rem;
    height: 0.426666667rem;
    line-height: 0.426666667rem;
}
.instructionTitleIcon img{
    width: 0.426666667rem;
    height: 0.426666667rem;
}
.instructionTitleWrap{
    height: 0.426666667rem;
    line-height: 0.426666667rem;
    padding-bottom: 0.533333333rem;
    color: #f1973c;
}
.instructionTitle{
    display: inline-block;
    font-size: 0.426666667rem;
}
.instructionWrap{
    padding-left: 0.533333333rem;
    font-size: 0.373333333rem;
}
.instructionWrap p{
    padding:0.106666667rem;
}
.popupBg{
    width: 100%;
    max-width: 750px;
    height: 17.78666667rem;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top:0;
    z-index: 2;
    -webkit-transform: translateZ(0);
    display: none;
}
.popupWrap{
    width: 100%;
    position: absolute;
    top:1.866666667rem;
    z-index: 10;
    display: none;
    padding-bottom: 0.32rem;
}
.popupTop{
    padding:0 0.4rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    /*height: ;*/
}
.popupTopLeft{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
}
.popupTopRight{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
}
.popupTopCenter{
    -webkit-box-flex:6;
    -webkit-flex:6;
    -ms-flex: 6;
    flex: 6;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    font-size: 0.48rem;
}
.userRechargeNum{
    color: darkorange;
}
.verificationCodeWrap{
    /*padding-top:1.813333333rem;*/
    margin: 0 0.4rem;
    height: 1.44rem;
    line-height: 1.44rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border:1px solid #cccccc;
}
.verificationCodeFont{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    font-size: 0.426666667rem;
    text-align: center;
}
.verificationCodeNum{
    -webkit-box-flex:8;
    -webkit-flex:8;
    -ms-flex: 8;
    flex: 8;
    font-size: 0.373333333rem;
}
.rechargeBankWrap{
    padding:0.533333333rem 0.8rem;
    font-size: 0.373333333rem;
    color: #999999;
}
.rechargeConfirmBtn{
    display: block;
    height: 1.44rem;
    line-height: 1.44rem;
    width: 9.2rem;
    margin: 0 0.4rem 0.533333333rem;
    font-size: 0.426666667rem;
    background: #f1973c;
    color:#fff;
    text-align: center;
}
.chooseDateIcon{
    -webkit-box-flex:0.1;
    -webkit-flex:0.1;
    -ms-flex: 0.1;
    flex:0.1;
}
.cashAvailable{
    height:1.44rem;
    line-height: 1.44rem;
    font-size: 0.373333333rem;
    padding:0 0.4rem;
}
.cashAvailableNum{
    color: #f1973c;
}
.noTransaction{
    height:1.44rem;
    line-height: 1.44rem;
    font-size: 0.426666667rem;
    padding:0 0.4rem;
    color:#f1973c;
}
.none{
    display: none;
}
.applyWithdrawals{
    margin-top:1.44rem;
}
.productTypeWrap{
    position: fixed;
    left: 0;
    right: 0;
    top:1.2rem;
    z-index: 20;
}
.applyWithdrawalsBtn{
    background: #ccc;
    display: block;
    width: 9.2rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    margin: 0 auto;
    font-size: 0.48rem;
}
.rechargingBankWrap{
    margin-top:0.266666667rem;
}
.goAuthentication{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    line-height: 1.866666667rem;
    text-align: right;
}
.authenticationFont{
    font-size: 0.426666667rem;
    color: #007aff;
}
.bindDes{
    padding: 0 0.32rem;
    height: 0.906666667rem;
    line-height: 0.906666667rem;
    font-size:  0.266666667rem;
}
.shiMingCard{
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    font-size: 0.373333333rem;
}
.shiMingCard input{
    width: 100%;
}
.kaiHuBankTitle{
    font-size: 0.373333333rem;
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
}
.shiMingCenter{
    -webkit-box-flex:4;
    -webkit-flex:4;
    -ms-flex: 4;
    flex: 4;
}
.shiMingCenter input{
    font-size: 0.32rem;
}
.shiMingRight{
    -webkit-box-flex:2.5;
    -webkit-flex:2.5;
    -ms-flex: 2.5;
    flex: 2.5;
}
.kaiHuRen{
    margin-top:0.266666667rem;
}
.nextWrap{
    margin-top:0.666666667rem;
}
.nextBtn{
    display: block;
    background: rgb(242,182,67);
    width: 9.253333333rem;
    margin: 0 auto;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    text-align: center;
    color: #fff;
    font-size: 0.426666667rem;/*16px*/
}
.shiMingBottom{
    margin-top:0.4rem;
    padding: 0 0.32rem;
    font-size: 0.32rem;
}
.star{
    color: #bc1717;
    font-size: 0.32rem;
}
.chooseBankWrap{
    margin-top: 1.2rem;
}
.chooseBankWrap li{
    padding:0 0.4rem;
    height: 1.706666667rem;
    line-height: 1.706666667rem;
}
.chooseBankIcon{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 0.533333333rem;
    height: inherit;
    line-height:1.706666667rem;
}
.chooseBankIcon img{
    width: 0.96rem;
    height: 0.96rem;
}
.chooseBankRight{
    -webkit-box-flex:7;
    -webkit-flex:7;
    -ms-flex: 7;
    flex: 7;
}
.chooseBankInfo{
    height: 0.853333333rem;
    line-height: 0.853333333rem;
}
.chooseBankExplain{
    height: 0.853333333rem;
    line-height: 0.853333333rem;
}
.kaiHuLocation{
    padding: 0 0.4rem;
    height: 1.44rem;
    line-height: 1.44rem;
    font-size: 0.373333333rem;
}
.kaiHuLocationTitle{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
}
.chooseKaiHu{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.373333333rem;
    text-align: right;
    color: #cccccc;
}
.kaiHuname{
    padding: 0 0.4rem;
    height: 1.44rem;
    line-height: 1.44rem;
    font-size: 0.373333333rem;
}
.kaiHuNameTitle{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
}
.inputKaiHuName{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.373333333rem;
    text-align: right;
    color: #cccccc;
}
.assetDataWrap{
    background: #bc1717;
}
.assetDataCenter{
    padding:0.8rem 0.426666667rem;
    color: #fff;
}
.yesterdayProfitTitle{
    font-size: 0.426666667rem;
    text-align: center;
    /*padding-bottom: 0.266666667rem;*/
}
.yesterdayProfitData{
    text-align: center;
    font-size: 1.466666667rem;
}
.accumulativeProfitTitle{
    text-align: center;
    font-size: 0.426666667rem;
    /*padding-bottom: 0.266666667rem;*/
}
.accumulativeProfitDta{
    text-align: center;
    font-size: 1.466666667rem;
}
.nianHua{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-left:1px solid #999999;
}
.hqjAssetTitle{
    text-align: center;
    font-size: 0.48rem;
    padding-top: 0.64rem;
}
.hqjAssetNum{
    text-align: center;
    font-size: 0.48rem;
    padding: 0.373333333rem 0;
}
.fuHeNianHuaTitle{
    text-align: center;
    font-size: 0.48rem;
    padding-top: 0.64rem;
}
.fuHeNianHuaRate{
    text-align: center;
    font-size: 0.48rem;
    padding: 0.373333333rem 0;
}
.goTransactionRecordWrap{
    margin-top: 0.266666667rem;
}
.goTransactionRecord{
    padding:0 0.426666667rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.48rem;
}
.goIcon{
    text-align: right;
}
.buyOrSellWrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    height: 1.546666667rem;
    line-height: 1.546666667rem;
    background: #bc1717;
}
.sellWrap{
    text-align: center;
    font-size: 0.586666667rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #cccccc;
    color: #fff;
}
.sellWrap span{
    padding-right: 0.16rem;
}
.buyWrap{
    text-align: center;
    font-size: 0.586666667rem;
    color: #fff;
}
.buyOrSellWrap span img{
    width: 0.8rem;
    height: 0.8rem;
}
.salableCenter{
    height: 1.733333333rem;
    line-height: 1.733333333rem;
    padding: 0 0.266666667rem;
    font-size: 0.48rem;
}
.salableMoney{
    font-size: 0.533333333rem;
    color: #ff5855;
}
.inputSellMoneyCenter{
    height: 1.333333333rem;
    line-height:1.333333333rem;
    padding:0 0.266666667rem;
    font-size: 0.48rem;
}
.sellAllHqj{
    text-align: right;
    font-size: 0.373333333rem;
    color: #ff8f8c;
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex:1.5;
}
.inputSellMoneyCenter input{
    font-size: 0.426666667rem;
}
.pleaseInputsSellMoney{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex:2;
    font-size: 0.426666667rem;
}
.sellMoneyTitle{
    -webkit-box-flex: 1.6;
    -webkit-flex: 1.6;
    -ms-flex: 1.6;
    flex:1.6;
}
.reminderWrap{
    padding:0 0.266666667rem;
    font-size: 0.426666667rem;
}
.reminderTitle{
    padding:0.32rem 0;
    height: 0.426666667rem;
    line-height: 0.426666667rem;
}
.reminderTitle img{
    width: 0.426666667rem;
    height: 0.426666667rem;
    border-radius: 100%;
}
.sellBtnWrap{
    text-align: center;
    margin-top:0.8rem;
    padding:0 0.266666667rem;
}
.sellBtn{
    background: rgb(181,181,181);
    font-size: 0.48rem;
    height: 1.333333333rem;!important;
    line-height: 1.333333333rem;!important;
    width: 100%;!important;
    color: #000;
    opacity: 1;!important;
}
.sellPopup{
    position: fixed;
    /*top:0.266666667rem;*/
    /*left: 0.666666667rem;*/
    /*right: 0.666666667rem;*/
    top:3.88rem;
    left: 0.666666667rem;
    right: 0.666666667rem;
    border-radius: 5px;
    z-index: 11;
    padding-bottom:1.2rem;
    display: none;
}
.sellPopupCenter{
    padding:0 0.32rem;
}
.sellPopupTitle{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex:4;
    text-align: center;
    font-size: 0.48rem;
}
.sellPopupCue{
    height: 1.2rem;
    line-height: 1.2rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.closePopup{
    text-align: right;
    font-size: 20px;
}
.sellTypeTitle{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.426666667rem;
    text-align: center;
    color: #999999;
    padding-top:0.16rem;
}
.sellTypeMoney{
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    font-size: 0.8rem;
    text-align: center;
}
.inputPwdWrap{
    height: 1.333333333rem;
    text-align: center;
}
.buyHqjTop{
    padding:0 0.32rem;
    height: 1.6rem;
    /*line-height:1.6rem;*/
    margin-top: 0.266666667rem;
}
.hqiName{
    font-size: 0.48rem;
    height: 0.96rem;
    line-height: 0.96rem;
}
.desHqj{
    font-size:0.373333333rem;
    color: #999999;
    height: 0.64rem;
    line-height: 0.4rem;
}
.hqjNianHuaRate{
    text-align: right;
    font-size: 0.48rem;
    height: 0.96rem;
    line-height: 0.96rem;
}
.hqjNianHuaFont{
    text-align: right;
    font-size:0.373333333rem;
    color: #999999;
    height: 0.64rem;
    line-height: 0.4rem;
}
.buyMoneyTitle{
    line-height: 1.6rem;
    font-size: 0.373333333rem;
}
.buyMoney{
    text-align: right;
    border: none;!important;
    font-size: 0.373333333rem;
     line-height:1.6rem;
     width: 100%;
     height: 1.6rem;
     margin-bottom: 0;
     padding: 0;
     -webkit-user-select: text;
     border: 0px solid rgba(0,0,0,.2);
     border-radius: 0px;
     outline: 0;
     background-color: #fff;
     -webkit-appearance: none;
}
.profitComputeCenter{
    height: 1.066666667rem;
    line-height: 1.066666667rem;
    padding:0 0.32rem;
    font-size: 0.373333333rem;
}
.interestDay{
    text-align: right;
    line-height: 1.6rem;
    font-size: 0.373333333rem;
}
.expireDayCenter{
    height: 1.6rem;
    line-height: 1.6rem;
    padding:0 0.32rem;
    font-size: 0.373333333rem;
}
.expireDay{
    text-align: right;
    font-size: 0.373333333rem;
}
.expectedReturnMoney{
    text-align: right;
    font-size: 0.373333333rem;
    color: #f6a34e;
}
.placeOrderWrap{
    position: relative;
    top: 2.666666667rem;
    left: 0;
    right: 0;
}
.placeOrderBtn{
    width: 100%;
    height:1.333333333rem;
    line-height:1.333333333rem;
    background: rgb(242,182,67);
    font-size:0.373333333rem;
}
.inputBuyMoneyWrap{
    height: 1.6rem;
}
.inputBuyMoneyCenter{
    padding:0 0.32rem;
    height: 1.333333333rem;
    padding-top: 0.133333333rem;
}
.inputBuyMethodTitle{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex:2;
    font-size: 0.373333333rem;
    line-height:1.333333333rem;
}
.inputBuyInt{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex:4;
    line-height:1.333333333rem;
    font-size: 0.373333333rem;
}
.changeBuyMethod{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;;
    font-size: 0.32rem;
    color: #f6a34e;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-left:1px solid #999999;
}
.changeBuyMethodBtn{
    display: block;
    margin-left:0.5rem;
    text-align: center;
    padding-top:0.24rem;
}
.convertIntoTitle{
    padding: 0 0.32rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
    font-size: 0.373333333rem;
}
.convertIntoCenter{
    padding: 0 0.32rem;
    height: 1.6rem;
    line-height: 1.6rem;
}
.convertIntoName{
    font-size: 0.373333333rem;
}
.convertIntoNum{
    font-size: 0.373333333rem;
    text-align: right;
}
.expectProfitCenter{
    padding: 0 0.32rem;
    height: 1.6rem;
    line-height: 1.6rem;
}
.expectProfitTitle{
    font-size: 0.373333333rem;
}
.expectProfitNum{
    font-size: 0.373333333rem;
    text-align: right;
    color: #f6a34e;
}
.userWantBuyCenter{
    padding: 0.133333333rem 0.32rem;
    height: 1.333333333rem;
}
.flex4{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex:4;
}
.waitPay{
    font-size: 0.373333333rem;
    -webkit-box-flex: 3.5;
    -webkit-flex: 3.5;
    -ms-flex: 3.5;
    flex:3.5;
}
.waitPayNum{
    color: #f6a34e;
}
.yourPhone{
    text-align: center;
    font-size: 0.373333333rem;
    height: 1.333333333rem;
    line-height: 1.333333333rem;
}
.productTitleDes{
    font-size: 0.373333333rem;
    text-align: center;
}
.hqjProductDesWrap{
    margin-top:1.6rem;
    padding-bottom: 0.8rem;
}
.hqjProductDesBottom{
    font-size: 0.373333333rem;
    text-align: center;
    padding-top:0.373333333rem;
}
.hqjProductDesTop{
    font-size: 0.426666667rem;
    text-align: center;
}
.hqjProductDesNum{
    font-size:0.533333333rem;
}
.grayLine{
    height: 0.373333333rem;
    background: rgb(243,243,243);
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
}
.productIntroduceWrap{

}
.productIntroduceCenter{
    padding:0.96rem 0.373333333rem 0;
}
.columnIcon{
    display: inline-block;
    background: #f6a34e;
    width: 0.16rem;
    height: 0.693333333rem;
    line-height: 0.693333333rem;
    margin-right: 0.373333333rem;
}
.productIntroduceTitle{
    /*display: inline-block;*/
    height:0.693333333rem;
    line-height: 0.693333333rem;
    /*font-size: 0.373333333rem;*/
}
.productIntroduceTitleFont{
    display: inline-block;
    height:0.693333333rem;
    line-height: 0.693333333rem;
    font-size: 0.48rem;
    position: absolute;
    top:-0rem;
}
.productIntroDes{
    padding:0.693333333rem 0 0.853333333rem;
    font-size: 0.373333333rem;
    line-height: 0.6rem;
}
.example{
    padding-bottom:0.853333333rem;
    font-size: 0.373333333rem;
    line-height: 0.6rem;
    color: #cccccc;
}
.productDetails{
    padding: 0.8rem 0;
}
.productDetails li{
    padding:0.4rem 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-top:1px solid #cccccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.productDetails li:last-child{
    border-bottom:1px solid #cccccc;
}
.productDetailsTitle{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex:4;
    font-size: 0.373333333rem;
    color: #999;
}
.productDetailsDes{
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex:8;
    font-size: 0.373333333rem;
}
.InvestmentRisk{
    font-size: 0.373333333rem;
    padding:1.066666667rem 0;
}
.InvestmentRisk p,a{
    text-align: center;
    display: block;
}
.InvestmentRisk1{
    color: #666666;
    padding-bottom: 0.16rem;
}
.InvestmentRisk3{
    font-size: 0.426666667rem;
    color:#f6a34e;
    padding:0.266666667rem 0;
}
.InvestmentRisk4{
    color: #ccc;
}
.bearCompanyFont{
    text-align: center;
    font-size: 0.373333333rem;
    padding:1.546666667rem 0 0.48rem;
}
.bearCompanyFont img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.buyBtnWrap{
    padding:0.32rem 0 0.32rem;
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    z-index: 2;

    -moz-box-shadow: 0 -2px 2px #ccc; /* 老的 Firefox */
    box-shadow: 0 -2px 2px #ccc;
}
.iWantbuyBtn{
    display: block;
    margin:0 auto;
    width: 8.533333333rem;
    height: 1.2rem;
    font-size: 0.48rem;
    line-height: 1.2rem;
    background: #f6a34e;
    border-radius: 5px;
}
.hqjProductDesLeft{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #cccccc;
}
.hqjProductDesCenter{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-right: 1px solid #cccccc;
}
.productTitleLeft{
    text-align: left;
    color: #999999;
}
.productTitleCenter{
    text-align: center;
    color: orange;
}
.productTitleRight{
    text-align: right;
    color: #999999;
}
.productBtn{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1.386666667rem;
    line-height: 1.386666667rem;
    text-align: center;
    font-size: 0.453333333rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #999;
    margin-right: 0;
}
.productBtn:last-child{
    border-right: none;
}
.buyHqjBtn{
    display: block;
    margin: 0 auto;
    width: 8.533333333rem;
    height: 1.2rem;
    font-size: 0.48rem;
    line-height: 1.2rem;
    background: #f6a34e;
    border-radius: 5px;
}
.buyWzj60Btn{
    display: block;
    margin: 0 auto;
    width: 8.533333333rem;
    height: 1.2rem;
    font-size: 0.48rem;
    line-height: 1.2rem;
    background: #f6a34e;
    border-radius: 5px;
}
.buyWzj90Btn{
    display: block;
    margin: 0 auto;
    width: 8.533333333rem;
    height: 1.2rem;
    font-size: 0.48rem;
    line-height: 1.2rem;
    background: #f6a34e;
    border-radius: 5px;
}
.buyWzj180Btn{
    display: block;
    margin: 0 auto;
    width: 8.533333333rem;
    height: 1.2rem;
    font-size: 0.48rem;
    line-height: 1.2rem;
    background: #f6a34e;
    border-radius: 5px;
}
.buyWzj360Btn{

}
.Popup-bg{
    width: 100%;
    max-width: 750px;
    height: 17.78666667rem;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top:0;
    z-index: 2;
    -webkit-transform: translateZ(0);
    display: none;
}
.popup{
    width: 4.5rem;
    height:auto;
    padding:0.4rem 0.2rem;
    text-align: center;
    background: #000000;
    opacity: 0.8;
    border-radius: 5px;
    position: fixed;
    top: 6rem;
    left:2.8rem;
    margin: auto;
    z-index: 10;
    color: #fff;
    font-size: 14px;
    display: none;
}
.loading{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.goldPrice{
    font-size: 0.426666667rem;
}
.bankExplain{
    text-align: center;
}
.goChooseBank{
    text-align: center;
}
.icon-jinru:before{
    transform:rotate(180deg);-ms-transform:rotate(180deg); /* Internet Explorer */-moz-transform:rotate(180deg); /* Firefox */-webkit-transform:rotate(180deg); /* Safari 和 Chrome */-o-transform:rotate(180deg); /* Opera */"
}
